# Inserting
To insert into the database all we have to do is give our InsertIntoDB object a connection to the database with collection specified.
Then we can simply call the format_and_insert method and pass it the path to our csv containing the CRSP data set.
The data can only have fields that are default ot the linked CRSP or compustat data.
The [metadata](https://github.com/Alexd14/equity-db/tree/main/equity_db/variables/metadata) folder specifies the fields and dtypes for collections.
On my laptop (16 GB ram, 8 cores) I was able to insert the entire linked CRSP Compustat database (~35GB) in under 30 minutes.

In [ ]:
from equity_db.api.mongo_connection import MongoAPI
from equity_db.write.insert_to_db import InsertIntoDB

In [ ]:
ins = InsertIntoDB(MongoAPI('test', 'crsp'))

In [ ]:
ins.format_and_insert('crsp.csv')

To insert the compustat data all we have to do is change the collection name in our mongo connection and specify the path to the compustat data.

In [ ]:
ins = InsertIntoDB(MongoAPI('test', 'compustat'))

In [ ]:
ins.format_and_insert('compustat.csv')

In [1]:
import pandas as pd

# This is what the crsp data looks like
crsp = pd.read_csv('../testing/crsp.csv', nrows=20)

print(crsp.columns.values)
crsp.head()

['lpermno' 'gvkey' 'linkprim' 'liid' 'linktype' 'lpermco' 'linkdt'
 'linkenddt' 'iid' 'datadate' 'tic' 'cusip' 'conm' 'curcddv' 'capgn'
 'cheqv' 'div' 'divd' 'divdpaydateind' 'divsp' 'dvrated' 'paydateind'
 'anncdate' 'capgnpaydate' 'cheqvpaydate' 'divdpaydate' 'divsppaydate'
 'paydate' 'recorddate' 'curcdd' 'adrrc' 'ajexdi' 'cshoc' 'cshtrd' 'dvi'
 'eps' 'epsmo' 'prccd' 'prchd' 'prcld' 'prcod' 'prcstd' 'trfd' 'exchg'
 'secstat' 'tpci' 'cik' 'fic' 'add1' 'add2' 'add3' 'add4' 'addzip'
 'busdesc' 'city' 'conml' 'costat' 'county' 'dlrsn' 'ein' 'fax' 'fyrc'
 'ggroup' 'gind' 'gsector' 'gsubind' 'idbflag' 'incorp' 'loc' 'naics'
 'phone' 'prican' 'prirow' 'priusa' 'sic' 'spcindcd' 'spcseccd' 'spcsrc'
 'state' 'stko' 'weburl' 'dldte' 'ipodate']

,lpermno,gvkey,linkprim,liid,linktype,lpermco,linkdt,linkenddt,iid,datadate,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,10001,12994,P,1,LC,7953,19860109,20170831,1,20000210,...,1,4924,710,700,B,OH,0,www.huinc.net,20170804,NaN
1,10001,12994,P,1,LC,7953,19860109,20170831,1,20130117,...,1,4924,710,700,B,OH,0,www.huinc.net,20170804,NaN
2,10001,12994,P,1,LC,7953,19860109,20170831,1,20121123,...,1,4924,710,700,B,OH,0,www.huinc.net,20170804,NaN
3,10001,12994,P,1,LC,7953,19860109,20170831,1,20130122,...,1,4924,710,700,B,OH,0,www.huinc.net,20170804,NaN
4,10001,12994,P,1,LC,7953,19860109,20170831,1,20130311,...,1,4924,710,700,B,OH,0,www.huinc.net,20170804,NaN

In [2]:
# This is what the compustat data looks like
compustst = pd.read_csv('/Users/alex/Desktop/full compustat.csv', nrows=20)

print(compustst.columns.values)
compustst.head()

['lpermno' 'gvkey' 'linkprim' 'liid' 'linktype' 'lpermco' 'linkdt'
 'linkenddt' 'datadate' 'fyearq' 'fqtr' 'fyr' 'indfmt' 'consol' 'popsrc'
 'datafmt' 'tic' 'cusip' 'conm' 'acctchgq' 'acctstdq' 'adrrq' 'ajexq'
 'ajpq' 'bsprq' 'compstq' 'curcdq' 'curncdq' 'currtrq' 'curuscnq'
 'datacqtr' 'datafqtr' 'finalq' 'ogmq' 'rp' 'scfq' 'srcq' 'staltq' 'updq'
 'apdedateq' 'fdateq' 'pdateq' 'rdq' 'acchgq' 'acomincq' 'acoq' 'actq'
 'altoq' 'ancq' 'anoq' 'aociderglq' 'aociotherq' 'aocipenq' 'aocisecglq'
 'aol2q' 'aoq' 'apq' 'aqaq' 'aqdq' 'aqepsq' 'aqpl1q' 'aqpq' 'arcedq'
 'arceepsq' 'arceq' 'atq' 'aul3q' 'billexceq' 'capr1q' 'capr2q' 'capr3q'
 'capsftq' 'capsq' 'ceiexbillq' 'ceqq' 'cheq' 'chq' 'cibegniq' 'cicurrq'
 'ciderglq' 'cimiiq' 'ciotherq' 'cipenq' 'ciq' 'cisecglq' 'citotalq'
 'cogsq' 'csh12q' 'cshfd12' 'cshfdq' 'cshiq' 'cshopq' 'cshoq' 'cshprq'
 'cstkcvq' 'cstkeq' 'cstkq' 'dcomq' 'dd1q' 'deracq' 'deraltq' 'derhedglq'
 'derlcq' 'derlltq' 'diladq' 'dilavq' 'dlcq' 'dlttq' 'doq' 'dpacreq'
 'dpactq' 'dpq' 'dpretq' 'drcq' 'drltq' 'dteaq' 'dtedq' 'dteepsq' 'dtepq'
 'dvintfq' 'dvpq' 'epsf12' 'epsfi12' 'epsfiq' 'epsfxq' 'epspi12' 'epspiq'
 'epspxq' 'epsx12' 'esopctq' 'esopnrq' 'esoprq' 'esoptq' 'esubq' 'fcaq'
 'ffoq' 'finacoq' 'finaoq' 'finchq' 'findlcq' 'findltq' 'finivstq'
 'finlcoq' 'finltoq' 'finnpq' 'finreccq' 'finrecltq' 'finrevq' 'finxintq'
 'finxoprq' 'gdwlamq' 'gdwlia12' 'gdwliaq' 'gdwlid12' 'gdwlidq'
 'gdwlieps12' 'gdwliepsq' 'gdwlipq' 'gdwlq' 'glaq' 'glcea12' 'glceaq'
 'glced12' 'glcedq' 'glceeps12' 'glceepsq' 'glcepq' 'gldq' 'glepsq'
 'glivq' 'glpq' 'hedgeglq' 'ibadj12' 'ibadjq' 'ibcomq' 'ibmiiq' 'ibq'
 'icaptq' 'intaccq' 'intanoq' 'intanq' 'invfgq' 'invoq' 'invrmq' 'invtq'
 'invwipq' 'ivaeqq' 'ivaoq' 'ivltq' 'ivstq' 'lcoq' 'lctq' 'lltq' 'lnoq'
 'lol2q' 'loq' 'loxdrq' 'lqpl1q' 'lseq' 'ltmibq' 'ltq' 'lul3q' 'mibnq'
 'mibq' 'mibtq' 'miiq' 'msaq' 'ncoq' 'niitq' 'nimq' 'niq' 'nopiq' 'npatq'
 'npq' 'nrtxtdq' 'nrtxtepsq' 'nrtxtq' 'obkq' 'oepf12' 'oeps12' 'oepsxq'
 'oiadpq' 'oibdpq' 'opepsq' 'optdrq' 'optfvgrq' 'optlifeq' 'optrfrq'
 'optvolq' 'piq' 'pllq' 'pnc12' 'pncd12' 'pncdq' 'pnceps12' 'pncepsq'
 'pnciapq' 'pnciaq' 'pncidpq' 'pncidq' 'pnciepspq' 'pnciepsq' 'pncippq'
 'pncipq' 'pncpd12' 'pncpdq' 'pncpeps12' 'pncpepsq' 'pncpq' 'pncq'
 'pncwiapq' 'pncwiaq' 'pncwidpq' 'pncwidq' 'pncwiepq' 'pncwiepsq'
 'pncwippq' 'pncwipq' 'pnrshoq' 'ppegtq' 'ppentq' 'prcaq' 'prcd12' 'prcdq'
 'prce12' 'prceps12' 'prcepsq' 'prcpd12' 'prcpdq' 'prcpeps12' 'prcpepsq'
 'prcpq' 'prcraq' 'prshoq' 'pstknq' 'pstkq' 'pstkrq' 'rcaq' 'rcdq'
 'rcepsq' 'rcpq' 'rdipaq' 'rdipdq' 'rdipepsq' 'rdipq' 'recdq' 'rectaq'
 'rectoq' 'rectq' 'rectrq' 'recubq' 'req' 'retq' 'reunaq' 'revtq' 'rllq'
 'rra12' 'rraq' 'rrd12' 'rrdq' 'rreps12' 'rrepsq' 'rrpq' 'rstcheltq'
 'rstcheq' 'saleq' 'seqoq' 'seqq' 'seta12' 'setaq' 'setd12' 'setdq'
 'seteps12' 'setepsq' 'setpq' 'spce12' 'spced12' 'spcedpq' 'spcedq'
 'spceeps12' 'spceepsp12' 'spceepspq' 'spceepsq' 'spcep12' 'spcepd12'
 'spcepq' 'spceq' 'spidq' 'spiepsq' 'spioaq' 'spiopq' 'spiq' 'sretq'
 'stkcoq' 'stkcpaq' 'teqq' 'tfvaq' 'tfvceq' 'tfvlq' 'tieq' 'tiiq' 'tstknq'
 'tstkq' 'txdbaq' 'txdbcaq' 'txdbclq' 'txdbq' 'txdiq' 'txditcq' 'txpq'
 'txtq' 'txwq' 'uacoq' 'uaoq' 'uaptq' 'ucapsq' 'ucconsq' 'uceqq' 'uddq'
 'udmbq' 'udoltq' 'udpcoq' 'udvpq' 'ugiq' 'uinvq' 'ulcoq' 'uniamiq'
 'unopincq' 'uopiq' 'updvpq' 'upmcstkq' 'upmpfq' 'upmpfsq' 'upmsubpq'
 'upstkcq' 'upstkq' 'urectq' 'uspiq' 'usubdvpq' 'usubpcvq' 'utemq' 'wcapq'
 'wdaq' 'wddq' 'wdepsq' 'wdpq' 'xaccq' 'xidoq' 'xintq' 'xiq' 'xoprq'
 'xopt12' 'xoptd12' 'xoptd12p' 'xoptdq' 'xoptdqp' 'xopteps12' 'xoptepsp12'
 'xoptepsq' 'xoptepsqp' 'xoptq' 'xoptqp' 'xrdq' 'xsgaq' 'acchgy' 'afudccy'
 'afudciy' 'amcy' 'aolochy' 'apalchy' 'aqay' 'aqcy' 'aqdy' 'aqepsy' 'aqpy'
 'arcedy' 'arceepsy' 'arcey' 'capxy' 'cdvcy' 'chechy' 'cibegniy' 'cicurry'
 'cidergly' 'cimiiy' 'ciothery' 'cipeny' 'cisecgly' 'citotaly' 'ciy'
 'cogsy' 'cshfdy' 'cshpry' 'cstkey' 'depcy' 'derhedgly' 'dilady' 'dilavy'
 'dlcchy' 'dltisy' 'dltry' 'doy' 'dpcy' 'dprety' 'dpy' 'dteay' 'dtedy'
 'dteepsy' 'dtepy' 'dvpy' 'dvy' 'epsfiy' 'epsfxy' 'epspiy' 'epspxy'
 'esubcy' 'esuby' 'exrey' 'fcay' 'ffoy' 'fiaoy' 'fincfy' 'finrevy'
 'finxinty' 'finxopry' 'fopoxy' 'fopoy' 'fopty' 'fsrcoy' 'fsrcty' 'fuseoy'
 'fusety' 'gdwlamy' 'gdwliay' 'gdwlidy' 'gdwliepsy' 'gdwlipy' 'glay'
 'glceay' 'glcedy' 'glceepsy' 'glcepy' 'gldy' 'glepsy' 'glivy' 'glpy'
 'hedgegly' 'ibadjy' 'ibcomy' 'ibcy' 'ibmiiy' 'iby' 'intpny' 'invchy'
 'itccy' 'ivacoy' 'ivchy' 'ivncfy' 'ivstchy' 'miiy' 'ncoy' 'niity' 'nimy'
 'niy' 'nopiy' 'nrtxtdy' 'nrtxtepsy' 'nrtxty' 'oancfy' 'oepsxy' 'oiadpy'
 'oibdpy' 'opepsy' 'optdry' 'optfvgry' 'optlifey' 'optrfry' 'optvoly'
 'pdvcy' 'piy' 'plly' 'pncdy' 'pncepsy' 'pnciapy' 'pnciay' 'pncidpy'
 'pncidy' 'pnciepspy' 'pnciepsy' 'pncippy' 'pncipy' 'pncpdy' 'pncpepsy'
 'pncpy' 'pncwiapy' 'pncwiay' 'pncwidpy' 'pncwidy' 'pncwiepsy' 'pncwiepy'
 'pncwippy' 'pncwipy' 'pncy' 'prcay' 'prcdy' 'prcepsy' 'prcpdy' 'prcpepsy'
 'prcpy' 'prstkccy' 'prstkcy' 'prstkpcy' 'rcay' 'rcdy' 'rcepsy' 'rcpy'
 'rdipay' 'rdipdy' 'rdipepsy' 'rdipy' 'recchy' 'revty' 'rray' 'rrdy'
 'rrepsy' 'rrpy' 'saley' 'scstkcy' 'setay' 'setdy' 'setepsy' 'setpy'
 'sivy' 'spcedpy' 'spcedy' 'spceepspy' 'spceepsy' 'spcepy' 'spcey' 'spidy'
 'spiepsy' 'spioay' 'spiopy' 'spiy' 'sppey' 'sppivy' 'spstkcy' 'srety'
 'sstky' 'stkcoy' 'stkcpay' 'tdcy' 'tfvcey' 'tiey' 'tiiy' 'tsafcy'
 'txachy' 'txbcofy' 'txbcoy' 'txdcy' 'txdiy' 'txpdy' 'txty' 'txwy'
 'uaolochy' 'udfccy' 'udvpy' 'ufretsdy' 'ugiy' 'uniamiy' 'unopincy'
 'unwccy' 'uoisy' 'updvpy' 'uptacy' 'uspiy' 'ustdncy' 'usubdvpy' 'utfdocy'
 'utfoscy' 'utmey' 'uwkcapcy' 'wcapchy' 'wcapcy' 'wday' 'wddy' 'wdepsy'
 'wdpy' 'xidocy' 'xidoy' 'xinty' 'xiy' 'xopry' 'xoptdqpy' 'xoptdy'
 'xoptepsqpy' 'xoptepsy' 'xoptqpy' 'xopty' 'xrdy' 'xsgay' 'exchg' 'cik'
 'costat' 'fic' 'cshtrq' 'dvpspq' 'dvpsxq' 'mkvaltq' 'prccq' 'prchq'
 'prclq' 'adjex' 'add1' 'add2' 'add3' 'add4' 'addzip' 'busdesc' 'city'
 'conml' 'county' 'dlrsn' 'ein' 'fax' 'fyrc' 'ggroup' 'gind' 'gsector'
 'gsubind' 'idbflag' 'incorp' 'loc' 'naics' 'phone' 'prican' 'prirow'
 'priusa' 'sic' 'spcindcd' 'spcseccd' 'spcsrc' 'state' 'stko' 'weburl'
 'dldte' 'ipodate']

,lpermno,gvkey,linkprim,liid,linktype,lpermco,linkdt,linkenddt,datadate,fyearq,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,10000,13007,P,1,LU,7952,19860107,19870630,19870430,1987.0,...,1,3942,475,976,NaN,CO,0,NaN,19890930,19860507.0
1,10000,13007,P,1,LU,7952,19860107,19870630,19860131,1986.0,...,1,3942,475,976,NaN,CO,0,NaN,19890930,19860507.0
2,10000,13007,P,1,LU,7952,19860107,19870630,19860430,1986.0,...,1,3942,475,976,NaN,CO,0,NaN,19890930,19860507.0
3,10000,13007,P,1,LU,7952,19860107,19870630,19870131,1987.0,...,1,3942,475,976,NaN,CO,0,NaN,19890930,19860507.0
4,10000,13007,P,1,LU,7952,19860107,19870630,19861031,1986.0,...,1,3942,475,976,NaN,CO,0,NaN,19890930,19860507.0