In [6]:
import pandas as pd
from equity_db.variables.compusat_variables import CompustatVariables

In [17]:
var = CompustatVariables()

In [18]:
data = pd.read_csv('/Users/alex/Desktop/full compustat.csv', low_memory=True, dtype=var.make_dtypes())

In [19]:
data.columns = [x.lower() for x in data.columns]
data['lpermno'] = data['lpermno'].astype(str)
data = data.sort_values('lpermno')

In [20]:
cols = list(data.columns)
cols.remove(var.identifier)
data = data[[var.identifier] + cols]

In [21]:
data.to_csv('/Users/alex/Desktop/full compustat.csv', index=False)

In [22]:
data.head()

,lpermno,gvkey,linkprim,liid,linktype,lpermco,linkdt,linkenddt,datadate,fyearq,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
378683,10000,013007,P,01,LU,7952,19860107,19870630,19870430,1987.0,...,01,3942,475,976,NaN,CO,0,NaN,19890930,19860507
378678,10000,013007,P,01,LU,7952,19860107,19870630,19860131,1986.0,...,01,3942,475,976,NaN,CO,0,NaN,19890930,19860507
378679,10000,013007,P,01,LU,7952,19860107,19870630,19860430,1986.0,...,01,3942,475,976,NaN,CO,0,NaN,19890930,19860507
378682,10000,013007,P,01,LU,7952,19860107,19870630,19870131,1987.0,...,01,3942,475,976,NaN,CO,0,NaN,19890930,19860507
378681,10000,013007,P,01,LU,7952,19860107,19870630,19861031,1986.0,...,01,3942,475,976,NaN,CO,0,NaN,19890930,19860507